In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

location_annotations = '../../pvc-meteor/dataset_behaviour/annotations.txt'

ModuleNotFoundError: No module named 'matplotlib'

In [6]:
df = pd.read_table(location_annotations, delimiter=' ', names=['file', 'frames', 'cat1', 'cat2', 'cat3'])

In [7]:
final_df = (
    df[['file', 'frames']]
    .merge(
        pd.get_dummies(df['cat1'])
        .add(pd.get_dummies(df['cat2']), fill_value=0)
        .add(pd.get_dummies(df['cat3']), fill_value=0)
        .astype(int), 
    left_index=True, right_index=True)
)
final_df

,file,frames,0.0,1.0,2.0,3.0,4.0,5.0,6.0
0,dataset_behaviour/Scenes/000001,65,0,1,0,0,0,0,0
1,dataset_behaviour/Scenes/000002,31,0,1,1,0,0,0,0
2,dataset_behaviour/Scenes/000003,75,0,0,1,0,0,0,0
3,dataset_behaviour/Scenes/000004,14,0,0,1,0,0,0,0
4,dataset_behaviour/Scenes/000005,24,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...
9046,dataset_behaviour/Scenes/009047,27,0,1,0,0,0,0,0
9047,dataset_behaviour/Scenes/009048,34,0,0,1,0,0,0,0
9048,dataset_behaviour/Scenes/009049,71,0,1,0,0,0,0,0
9049,dataset_behaviour/Scenes/009050,4,0,0,1,0,0,0,0
9050,dataset_behaviour/Scenes/009051,64,0,0,1,0,0,0,0

these labels are specified in 'pvc-meteor/METEOR/Scripts/preparation/xml2rawframe.py'. 

| category |   label |
|:----------------|----:|
| RuleBreak       |   0 |
| LaneChanging    |   1 |
| LaneChanging(m) |   1 |
| OverTaking      |   2 |
| Yield           |   3 |
| Cutting         |   4 |
| ZigzagMovement  |   5 |
| OverSpeeding    |   6 |

all labels except for yielding can be regarded as aggressive. Lane Changing is defined as aggressive in the accompanying <cite>[publication][1]</cite>. 

[1]: https://arxiv.org/pdf/2109.07648v1.pdf


As can be observed, nearly all rendered data has to be considered aggressive. For now the only meaningful objective to be learned is to differentiate between different kinds of aggressive driving behaviour.

In [ ]:
final_df.frames.hist()

In [30]:
percentile = 90
print(f'{percentile}% of the observed scenes have {np.percentile(final_df["frames"], percentile)} or fewer frames.')

90% of the observed scenes have 112.0 or fewer frames.

Since OadTR works best with a 'portion of action' between 50 and 80 percent 150 frames are chosen as the standard length.